@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Roboto Condensed", sans-serif;
}

.active {
  position: absolute;
  top: 4.5rem;
  left: 0;
  width: 100%;
  background: rgba(21, 21, 21, 0.8);
}

.nav li a {
  padding: 0 2.5rem 0 2.5rem;
}

.active li a {
  padding: 2.5rem 0 2.5rem 2.5rem;
  display: block;
  width: 100%;
  height: 100%;
}

.active li ul li a {
  padding-left: 4rem;
}

@layer bg {
  .desktop-dropdown {
    background-color: rgba(21, 21, 21, 0.8);
  }
}

.desktop-dropdown {
  @apply hidden flex-col absolute top-[4.5rem] left-0 w-52;
}

.desktop-dropdown li a {
  padding: 2rem 0 2rem 2rem;
}

.mobile-dropdown {
  @apply h-full flex-col relative;
}
